<%- include("partials/header.ejs") %>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>This is a blank page by <%= title %></p>
  </body>
<%- include("partials/footer.ejs") %>
</html>
